<div class="left-col-block blocks">
	<header class="header">
		<%- partial('_partials/cv/personal-info', {
				social: site.data.details.profile_social
			}) %>
		<div class="profile-img"></div>
	</header>
</div>